.consent {
  background-image: url("/assets/map_consent_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.consent-container {
  min-height: inherit;
  width: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.consent-content {
  padding: 5%;
  position: relative;
}
