.consent {
  background-image: url("/assets/map_consent_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.consent-container {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
}

.consent-content {
  position: relative;
  margin: 0;
  padding: 5%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
