<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>explore.flights</title>

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ .contentUrl }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .title }}">
  <meta property="og:description" content="{{ .description }}">
  <meta property="og:image" content="{{ .imageUrl }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ .host }}">
  <meta property="twitter:url" content="{{ .contentUrl }}">
  <meta name="twitter:title" content="{{ .title }}">
  <meta name="twitter:description" content="{{ .description }}">
  <meta name="twitter:image" content="{{ .imageUrl }}">
</head>
<body>
<script>window.location.replace("{{ .contentUrl }}")</script>
</body>
</html>